<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Mixer </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bar.css')}}">

</head>
<body>

<div class="container text-center" style="min-height: 250px;">
    <div class="jumbotron text-center">
    <legend>Merge PDF Files</legend>
    <h5 style="color: #132dbd; padding-top: 4%">Merge - Cut - Edit - Mix - Rearrange <br />All Kind of PDF Files !</h5>
</div>
    <div class="row">


        <div class="col-lg-7">
            <div class="row" style="text-align: center">
                <input type="file" multiple name="file" id="file" onchange="javascript:updateList()"
                       style="padding-bottom: 10%"/>
            </div>
            <div class="row">
                <div id="fileList"></div>
                <ul class="list-group" id="pickeddata"></ul>
            </div>
            <div class="row">
                <button id="upload" name="button" value="Upload" onclick="uploadnew()">Upload</button>
            </div>
            <div class="row">
                <h6 style="text-align: left" id="flash"></h6>
            </div>
            <div id="progress-wrp">
                <div class="progress-bar"></div>
                <div class="status"></div>
            </div>
            <div class="row">
                <h5 style="text-align: left;padding-top: 5%" id="info"  ></h5>
                <h4 style="text-align: left;padding-top: 5%;color:#FF0000" id="msg"  ></h4>
            </div>
        </div>
    </div>
</div>


<script>
    // html demo
    var ul = document.querySelector("ul");

    function updateList() {
        var input = document.getElementById('file');
        var output = document.getElementById('fileList');
        var info =document.getElementById('info')
        info.textContent = "Note : Keep Page Range Blank if all pages are to be joined \n\r If File order is not provided, same will be considered as shown above.";
        info.innerHTML = info.innerHTML.replace(/\n\r?/g, '<br />');
        var children = "";
        //children += '<li>' + input.files.item(i).name + '</li>';
        for (var i = 0; i < input.files.length; ++i) {
            children +=
                //'<input type="text" id = "f" class="form-control" placeholder='+input.files.item(i).name+'>
                '<div class="input-group mb-3"><div class="input-group-prepend"><span class="input-group-text">' + input.files.item(i).name + '</span></div><input type="text" id = f' + i + ' class="form-control" placeholder="Page Range i.e. 1,2,3-4"><input type="text" id = num' + i + ' class="form-control" placeholder="File Order i.e. 1 or 2">'
        }
        //output.innerHTML = '<ul>'+children+'</ul>';
        output.innerHTML = '<div>' + children + '<\div>'
    }

    function upload() {

        var input = document.getElementById('file').files[0];
        var fd = new FormData();
        // var files = $('#file')[0].files[0];
        fd.append('file', input);

        $.ajax({
            url: '/upload',
            type: "POST",
            data: fd,
            dataType: 'json',
            success: function (response) {
                $("#flash").text(response)
                console.log(response);
            },
            error: function (error) {
                $("#flash").text("Error Occured");
                console.log(error);
            }
        })

    }

    function download(response) {

                    //creating an invisible element
                    var element = document.createElement('a');
                    console.log(response);
                    endpoint = '/download/'+response;
                    // element.setAttribute('href', "{{url_for('static', filename='download/result_0')}}");
                    element.setAttribute('href', endpoint);
                    element.setAttribute('download', "merged.pdf");

                    //the above code is equivalent to
                    // <a href="path of file" download="file name">
                    document.body.appendChild(element);

                    //onClick property
                    element.click();

                    document.body.removeChild(element);
                }

    function deletion(response) {

                //creating an invisible element
                var element = document.createElement('a');
                console.log(response);
                endpoint = '/del/'+response;
                // element.setAttribute('href', "{{url_for('static', filename='download/result_0')}}");
                element.setAttribute('href', endpoint);

                //the above code is equivalent to
                // <a href="path of file" download="file name">
                document.body.appendChild(element);

                //onClick property
                element.click();

                document.body.removeChild(element);
            }

    var Upload = function (file) {
        this.file = file;
    };

    Upload.prototype.getType = function () {
        return this.file.type;
    };
    Upload.prototype.getSize = function () {
        return this.file.size;
    };
    Upload.prototype.getName = function () {
        return this.file.name;
    };
    Upload.prototype.doUpload = function () {
        var that = this;
        var formData = new FormData();
        var input = document.getElementById('file');
        for (var i = 0; i < input.files.length; ++i) {
            // console.log("file" + i, input.files[i], document.getElementById('f' + i).value, document.getElementById('num' + i).value);
            var fl = "file_" + i+"_"+document.getElementById('f' + i).value+"_"+document.getElementById('num' + i).value
            formData.append(fl, input.files[i],"yes");
            // formData.append("f_" + i, document.getElementById('f' + i).value,"yes2");
            // formData.append("num_" + i ,document.getElementById('num' + i).value,"yes3")

        }
        // add assoc key values, this will be posts values
        // formData.append("file", this.file, this.getName());
        // formData.append("file", [document.getElementById('file').files[0], "hello","bye"]);
        formData.append("upload_file", true);

        $.ajax({
            type: "POST",
            url: "/",
            data: formData,
            enctype: 'multipart/form-data',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    myXhr.upload.addEventListener('progress', that.progressHandling, false);
                }
                return myXhr;
            },
            success: function (response) {
                    console.log("here again "+response);
                    if (response.includes("result")) {

                        var msg = document.getElementById("msg");
                        msg.textContent = "Downloading merged file ... ";
                        download(response);
                        var todel = response.split("_")[0]+"_"+parseInt(response.split("_")[1].split(".")[0]-1);
                        $.ajax({
            url: '/del/'+todel,
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            success: function (reply) {
                console.log(reply);
            },
            error: function (error) {
                console.log(error);
            }
        })
                    }
                    else {
                    var msg = document.getElementById("msg");
                    msg.textContent = response;

                    }


                // your callback here
                // document.getElementById('msg').textContent =response
            },
            error: function (error) {
                // handle error
            },
            async: true,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            timeout: 60000
        });
    };

    Upload.prototype.progressHandling = function (event) {
        var percent = 0;
        var position = event.loaded || event.position;
        var total = event.total;
        var progress_bar_id = "#progress-wrp";
        if (event.lengthComputable) {
            percent = Math.ceil(position / total * 100);
        }
        // update progressbars classes so it fits your code
        $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
        $(progress_bar_id + " .status").text(percent + "%");
    };

    function uploadnew() {
        // var file = $(this)[0].files[0];
        var file = document.getElementById('file').files[0];
        var upload = new Upload(file);
        console.log("here");

        // maby check size or type here with upload.getSize() and upload.getType()

        // execute upload
        upload.doUpload();
    }

</script>
</body>
</html>